<div class="main-header">
    <!-- Hàng đầu tiên -->
    <div class="nav-header">
        <div class="nav-header-l">
            <a href="">Seller Centre</a>
            <a href="">Download</a>
            <span>
                Follow us on
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
            </span>

        </div>
        <div class="nav-header-r">
            <label class="switch">
                <input type="checkbox" id="dark-mode-toggle">
                <span class="slider round"></span>
            </label>
            <a href=""><i class="bi bi-bell"></i>Notification</a>
            <a href=""><i class="bi bi-question-circle-fill"></i>Help</a>
            <a href="">Login</a>
        </div>
    </div>
    <!-- Hangf giữa -->
    <div class="nav-body">
        <a href="/">
            <div class="logo-box">
                <img src="https://upload.wikimedia.org/wikipedia/commons/f/fe/Shopee.svg" alt="Shopee Logo"
                    class="shopee-logo">
            </div>
        </a>
        <form action="/search.html" class="search-bar">
            <input type="search" placeholder="Shopee bao ship 0Đ - Đăng ký ngay!" name="search" id="search-input"
                required pattern=".*\S.*">
            <button type="submit" class="search-btn">Tìm kiếm</button>
        </form>
        <div>
            <button id="cart-button">
                <span>0</span>
                <i class="bi bi-cart-plus"></i>

                <!-- Cart Popup -->
                <div id="cart-popup">
                    <div class="cart-popup-header">Recently added products</div>
                    <div class="cart-popup-body">
                        <p>No product in cart!</p>
                    </div>
                    <div class="cart-popup-footer">

                    </div>
                </div>
            </button>
        </div>
    </div>
</div>