#hero-section {
    background-color: rgb(255, 255, 255);
    padding: 2rem 0;
}

.banner-hero {
    /* width: 1200px; */
    width: 100%;
    max-width: 1200px;
    display: flex;
    margin: auto;
    gap: 10px;
    height: 230px;
}

.banner-hero-l {
    flex: 6;
    overflow: hidden;
}

.banner-hero-r {
    flex: 4;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.banner-hero-r>div {
    overflow: hidden;
    flex: 1;
}

.service-list {
    background-color: #fff;
}

.service-list ul {
    list-style: none;
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
    margin: auto;
    padding: 1rem;
}

.service-list ul li {
    flex: 1;
}

.service-list ul li .image {
    width: 60px;
    height: 60px;
    margin: auto;
}

.service-title {
    text-align: center;
    margin-top: .5rem;
    color: black;
    font-size: 0.8rem;
}

/*  */
#categories-list-box,
#flashsale-list-box {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    background-color: rgb(255, 255, 255);
    margin-top: 1rem;
    position: relative;
}

#categories-list-box .categories-header,
#flashsale-list-box .flashsale-header {
    border-bottom: 1px solid #dbdbdb;
    padding: 1rem;
}

#categories-list-box .categories-box-wapper,
#flashsale-list-box .flashsale-box-wapper {
    overflow: hidden;
    position: relative;
    height: 300px;
}

#categories-list-box .categories-box,
#flashsale-list-box .flashsale-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    height: 300px;
    transition: left 0.5s;
    left: 0px;
}

.categories-box>li {
    height: 50%;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-right: 1px solid #dbdbdb;
}

.categories-box>li:nth-child(odd) {
    border-bottom: 1px solid #dbdbdb;
}

.categories-box>li>img {
    width: 80px;
    aspect-ratio: 1;
}

.categories-box>li>div {
    text-align: center;
}

#categories-right-button,
#categories-left-button,
#flashsale-right-button,
#flashsale-left-button {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(253, 253, 253);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px #898989;
    border-radius: 50%;
    scale: 0.7;
    transition: scale 0.2s;
    cursor: pointer;
}

#categories-right-button:hover,
#categories-left-button:hover,
#flashsale-right-button:hover,
#flashsale-left-button:hover {
    scale: 1;
}

#categories-right-button,
#flashsale-right-button {
    right: -25px;
    top: calc(50%);
}

#categories-left-button,
#flashsale-left-button {
    left: -25px;
    top: calc(50%);
}



#flashsale-list-box .flashsale-box-wapper {
    height: 300px;
}

#flashsale-list-box .flashsale-box {
    height: 300px;
}

.flashsale-box>li {
    height: 100%;
    aspect-ratio: 2/3;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.flashsale-box>li>img {
    width: 180px;
    aspect-ratio: 1;
}

.flashsale-product-price {
    color: #f00;
    font-weight: 600;
    margin: 8px;
}

.flashsale-product-quantity {
    width: 70%;
    background-color: #f96648;
    padding: 2px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

/*------------------------SHOPEEMALL------------------------*/
#shopeemall-list-box {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    background-color: #fff;
    margin-top: 1.2rem;
}

.shopeemall-header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1.2px solid #999;
}

.shopeemall-header-title-wrapper {
    display: flex;
    align-items: center;
}

.shopeemall-title {
    cursor: pointer;
    color: #f00;
    text-decoration: none;
    font-size: 1.2rem;
}

.shopeemall-header-items {
    margin: 0 10px;
    padding: 0 10px;
    border-left: 1px solid #999;
    display: flex;
    align-items: center;
    gap: 10px;
}

.shopeemall-header-item {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1rem;
}

.shopeemall-header-item-img {
    width: 17px;
    height: auto;
}

.shopeemall-header-next-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.shopeemall-header-next-btn-wrapper {
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.shopeemall-header-next-btn-text {
    color: #f00;
    font-size: 1rem;
}

.shopeemall-header-next-btn-icon {
    background-color: #f00;
    color: #fff;
    border-radius: 50%;
}

.shopeemall-banner-wrapper {
    margin-left: 10px;
    margin-top: 10px;
}

.shopeemall-box {
    overflow: hidden;
    position: relative;
    height: 500px;
    width: 100%;
}

.shopeemall-box-wrapper {
    display: flex;
    position: relative;
}

.shopeemall-banner {
    display: block;
    width: 400px;
    height: 500px;
    overflow: hidden;
}

.shopeemall-banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.shopeemall-items {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    height: 500px;
    flex-direction: column;
    transition: left 0.5s;
    position: absolute;
    top:0;
    left: 0;
    right: unset;
    width: 100%;
}

.shopeemall-item {
    width: 25%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shopeemall-item-content {
    margin-right: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}

.shopeemall-item-img-wrapper {
    height: 215px;
    width: 160px;
    overflow: hidden;
}

.shopeemall-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.shopeemall-text {
    color: #f00;
    font-size: 1.2rem;
}

#shopeemall-left-button,
#shopeemall-right-button {
    position: absolute;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999;
    background-color: #fff;
    border: 1px solid #999;
    box-shadow: 1px 1px 10px #999;
    border-radius: 50%;
    scale: 0.6;
    transition: scale 0.3s;
    cursor: pointer;
}

#shopeemall-left-button:hover,
#shopeemall-right-button:hover {
    scale: 1;
}

#shopeemall-right-button {
    right: 0;
    top: calc(50% - 25px);
}

#shopeemall-left-button {
    left: 420px;
    top: calc(50% - 25px);
}