* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

html,
body {
    display: flex;
    flex-direction: column;
    background-color: #d3d3d3;
}

a,
a:active,
a:visited,
a:hover {
    color: #f5f5f5;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.nav-header {
    display: flex;
    justify-content: space-between;
}

.nav-header-l>*,
.nav-header-r>* {
    padding: 0 6px;
}

.nav-header-r>a>i {
    margin-right: 4px;
}

.nav-header-l>* {
    border-right: 1px solid #f5f5f5;
}

.nav-header-l>*:last-child {
    border-right: none;
}

.header-container {
    background-color: rgb(255, 72, 0);
    padding: 20px 10%;
    color: white;
}

.nav-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin-top: 10px;
}

.shopee-logo {
    height: 50px;
    filter: brightness(0) invert(1);
}

.search-bar {
    flex-grow: 1;
    display: flex;
    background-color: white;
    padding: 3px;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.search-bar input {
    flex-grow: 1;
    border: none;
    outline: none;
    padding: 10px 14px;
    font-size: 14px;
    border-radius: 2px 0 0 2px;
}

.search-btn {
    background-color: #fb5533;
    border: none;
    color: white;
    padding: 0 30px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.search-btn:hover {
    background-color: #f7451f;
}

#cart-button {
    font-size: 2rem;
    color: #f5f5f5;
    background-color: transparent;
    border: none;
    position: relative;
}

#cart-button span {
    position: absolute;
    font-size: 1rem;
    background-color: #f5f5f5;
    color: #f7451f;
    padding: 0 8px;
    border-radius: 8px;
    top: -8px;
    right: -8px;
}

#cart-popup {
    position: absolute;
    background-color: #f8f8f8;
    height: 400px;
    width: 350px;
    right: -20px;
    top: 150%;
    font-size: 1rem;
    border: 1px solid #989898;
    padding: 0.8rem;
    display: none;
}

#cart-button:hover #cart-popup {
    display: block;
}

#cart-popup::before {
    position: absolute;
    content: "";
    background-color: #f8f8f8;
    width: 20px;
    height: 20px;
    top: -11px;
    right: 20px;
    border-left: 1px solid #989898;
    border-top: 1px solid #989898;
    rotate: 45deg;
}

#cart-popup::after {
    content: "";
    width: 100px;
    height: 30px;
    position: absolute;
    top: -20px;
    right: 0px;
}

.cart-popup-header {
    text-align: left;
    color: #989898;
}

.cart-popup-body {
    margin-top: 1rem;
    color: #0e0e0e;
}

/* Image */
.image {
    height: 100%;
}

.image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Custom checkbox */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

body {
    background-color: var(--bg-primary);
}

.btn {
    background-color: var(--btn-primary);
    color: var(--text-primary);
    font-size: 1rem;
    border: none;
    text-transform: uppercase;
    padding: 5px 20px;
    cursor: pointer;
    width: 100%;
}

.input-number {
    font-size: 1rem;
    border: 1px solid #d3d3d3;
    padding: 5px 20px;
    width: 100%;
    outline: none;
}

/* To top */
#to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: rgb(236, 93, 3);
    border: none;
    padding: 0;
    font-weight: 0;
    border-radius: 50%;
    cursor: pointer;
    aspect-ratio: 1;
    font-size: 3rem;
    display: none;
}

#to-top-btn.show {
    display: block;
}